<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!--Bower Components-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<!--Custom components-->
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="../elements/test-element.html">
<link rel="import" href="../elements/reddit-list.html">
<link rel="import" href="../elements/reddit-selector.html">
<link rel="import" href="../elements/reddit-search.html">
<!--Views-->
<link rel="import" href="view-default.html">
<link rel="import" href="view-reddit-detail.html">

<dom-module id="my-app">
    <template>

        <style include="shared-styles">
            #app-title a {
                color: inherit;
                text-decoration: none;
            }            
        </style>

        <!--
          app-location and app-route elements provide the state of the URL for the app.
        -->
        <app-location route="{{route}}"></app-location>
        <app-route
            route="{{route}}"
            pattern="/:view"
            data="{{routeData}}"></app-route>
        
        <h1 id="app-title"><a href="/">Readit</a></h1>

        <iron-pages 
            selected="[[routeData.view]]" 
            attr-for-selected="name" 
            fallback-selection="home">
            <view-default name="home" route="[[route]]"></view-default>
            <view-reddit-detail name="reddit-detail" route="[[route]]"></view-reddit-detail>
        </iron-pages>

    </template>
    <script>
    class MyApp extends Polymer.Element {
        static get is() { return "my-app"; }
        static get properties() {
            return {
                // Properties for app-route
                config: Object,
                route: Object,
                routeData: Object,
                subRoute: Object
            }
        }
        static get observers() { return [
            '_viewChanged(routeData.view)',
            '_routeChanged(route.*)'
        ]}
        _viewChanged(view) {
            // if (routeData) {
                console.log('View changed:' + view)
            // }
        }
        _routeChanged(changeRecord) {
            console.log(changeRecord)
          if (changeRecord.path === 'route') {
            console.log('Path changed');
          }
        }
        
    }
    customElements.define(MyApp.is, MyApp)
    </script>
    
</dom-module>